
/* Colours */

$darkgrey: #434343;
$black: #000;
$white: #fff;
$maroon: darkred;
$grey: #b7b7b7;
$sidebarWidthLG: 180px;
$sidebarWidthMD: 130px;
$sidebarWidthSM: 80px;

html,
body {
/*    overflow-x: hidden;
*/
min-height: 100%;
}
/* Toggle Styles */

.dit-cms-sidebar {
    &__wrapper {
        z-index: 1000;
        position: fixed;
        left: $sidebarWidthLG;
        width: $sidebarWidthLG;
        height: 100%;
        margin-left: -180px;
        background-color: $darkgrey;
        /*overflow-y: auto;*/
        /*-webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;*/
    }
    &__nav {
        position: absolute;
        top: 0;
        width: 180px;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            line-height: 40px;
            background: $black;
            a {
                display: block;
                text-decoration: none;
                border: 1px solid $darkgrey;
                border-width: 1px 0px;
                height: 100px;
                text-align: center;
                padding: 30px;
                font-size: 20px;
                color: $white;
                &.active {
                background-color: $grey;
                color: $black;
                }
            }
        }
    }
    &__logout {
        line-height: 40px;
        display: block;
        height: 100px;
        text-align: center;
        padding: 30px;
        font-size: 20px;
        color: #fff;
        background-color: darkred;
        position: fixed;
        bottom: 0;
        width: $sidebarWidthLG;
        a {
            color: #fff;
        }
    }
    &__nav {
        li a {
            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
                cursor: pointer !important;
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
        > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            a {
                color: #999999;
                &:hover {
                    color: #fff;
                    background: none;
                }
            }
        }
    }
    
    @media (max-width: 1600px) {

    &__wrapper {
        width: $sidebarWidthMD;
    }
    &__nav {
        width: $sidebarWidthMD;
    }
    &__logout {
        width: $sidebarWidthMD;
    }   
}  

    
    @media (max-width: 1400px) {

    &__wrapper {
        display: none;
    }
    &__nav {
        display: none;
    }
    &__logout {
        display: none;
    }   
}
}

.dit-cms-pages{
    &__container{
        background-color: $grey;
        min-height: 100%;
    }

    &__index{
        margin-left: 200px;
        height: 100vh;
        background-color: $grey;
    }

    &__files{
        & li{
        background-color: $grey !important;
        }
    }
    &__inputs{
        background-color: $white;
        height: 100vh;
    }
    &__add-page{
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 30px;
        margin-top: 20px;
        color: white;
    }
}

 





