
/* Colours */

$darkgrey: #434343;
$black: #000;
$white: #fff;
$maroon: darkred;
$grey: #b7b7b7;
$whitesmoke: #eeeeee;
$sidebarWidthLG: 180px;
$sidebarWidthMD: 130px;
$sidebarWidthSM: 80px;

html,
body {
/*    overflow-x: hidden;
*/
min-height: 100%;
}
/* Toggle Styles */

.dit-cms-sidebar {
    &__wrapper {
        z-index: 1000;
        position: fixed;
        left: $sidebarWidthLG;
        width: $sidebarWidthLG;
        height: 100%;
        margin-left: -180px;
        background-color: $darkgrey;
        /*overflow-y: auto;*/
        /*-webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;*/
    }
    &__nav {
        position: absolute;
        top: 0;
        width: 180px;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            line-height: 40px;
            background: $black;
            a {
                display: block;
                text-decoration: none;
                border: 1px solid $darkgrey;
                border-width: 1px 0px;
                height: 100px;
                text-align: center;
                padding: 30px;
                font-size: 20px;
                color: $white;
                &.active {
                background-color: $grey;
                color: $black;
                }
            }
        }
    }
    &__logout {
        line-height: 40px;
        display: block;
        height: 100px;
        text-align: center;
        padding: 30px;
        font-size: 20px;
        color: #fff;
        background-color: darkred;
        position: fixed;
        bottom: 0;
        width: $sidebarWidthLG;
        a {
            color: #fff;
        }
    }
    &__nav {
        li a {
            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
                cursor: pointer !important;
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
        > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            a {
                color: #999999;
                &:hover {
                    color: #fff;
                    background: none;
                }
            }
        }
    }

    @media (max-width: 1600px) {

    &__wrapper {
        width: $sidebarWidthMD;
    }
    &__nav {
        width: $sidebarWidthMD;
    }
    &__logout {
        width: $sidebarWidthMD;
    }
}


    @media (max-width: 1400px) {

    &__wrapper {
        display: none;
    }
    &__nav {
        display: none;
    }
    &__logout {
        display: none;
    }
}
}


.dit-cms-selection{
    &__strip{
        background-color: $whitesmoke;
        min-height: 80px;
        margin-bottom: 50px;
    }
    &__select{
        margin-left: 40px;
        font-size: 16px;
    }
}

.layout-dropdown {
    padding-top: 30px;
    padding-left: 35%;
}

.layout-boxes {
    border: 1px solid grey;
    height: 160px;
    margin-left: 12%;
    margin-top: 30px;
}

#show-modal{}

/* FORM STYLES */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 140px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    border: 0.1px solid black;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.social-signin{
    background-image: url("img/github.svg");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 8px;
}

