
/* Colours */

$darkgrey: #434343;
$black: #424242;
$white: #ffffff;
$logout: #980000;
$grey: #b7b7b7;
$invalid-input: #d9d9d9;
$whitesmoke: #eeeeee;
$modal-editor-background: #f6f6f6;
$modal-editor-border: #ccc;
$active-background: #ffe599;

/* Sidebar */

$sidebarWidthLG: 180px;
$sidebarWidthMD: 130px;
$sidebarWidthSM: 80px;
